.gallery {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

    list-style: none;
}

.gallery-item {
    flex-basis: calc((100% - 20px) / 3);
}

.gallery-image {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}